<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269597836611-514o9o9et3b79ms4n5vaucc04laiq8kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269597836611-514o9o9et3b79ms4n5vaucc04laiq8kv</string>
	<key>API_KEY</key>
	<string>AIzaSyDNqU3OLVlp7XrwAVmyubR_8ITmQaBQz6w</string>
	<key>GCM_SENDER_ID</key>
	<string>269597836611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kaidder.HealthCare</string>
	<key>PROJECT_ID</key>
	<string>health-27c93</string>
	<key>STORAGE_BUCKET</key>
	<string>health-27c93.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269597836611:ios:052eecc9f99c53b34c1bf6</string>
</dict>
</plist>